#FPGA_GCLK
NET "clk" LOC = "N8" | IOSTANDARD = LVCMOS33;

##CLK_LFC
#NET "CLK_LFC" LOC = "N7" | IOSTANDARD = LVCMOS33;

##BTNs
#NET "BTN_0" LOC = "P8" | IOSTANDARD = LVCMOS33;
#NET "BTN_1" LOC = "P9" | IOSTANDARD = LVCMOS33;
#
##LEDs
#NET "LED_0" LOC = "N3" | IOSTANDARD = LVCMOS33;
#NET "LED_1" LOC = "P3" | IOSTANDARD = LVCMOS33;
#NET "LED_2" LOC = "N4" | IOSTANDARD = LVCMOS33;
#NET "LED_3" LOC = "P4" | IOSTANDARD = LVCMOS33;
#
##DEPP Signals
#NET "DEPP_WAIT" LOC = "B6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_ASTB" LOC = "A6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_DSTB" LOC = "B7" | IOSTANDARD = LVCMOS33;
#NET "DEPP_WRITE" LOC = "A7" | IOSTANDARD = LVCMOS33;
#NET "DBUS<0>" LOC = "B9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<1>" LOC = "A9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<2>" LOC = "B10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<3>" LOC = "A10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<4>" LOC = "B11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<5>" LOC = "A11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<6>" LOC = "B12" | IOSTANDARD = LVCMOS33;
#NET "DBUS<7>" LOC = "A12" | IOSTANDARD = LVCMOS33;

#IO PORTs

#A
                                                         #pin no
NET "Sau" LOC = "P5" | IOSTANDARD = LVCMOS33 | PULLUP;	#1 PORTA<0>
NET "Sam" LOC = "N5" | IOSTANDARD = LVCMOS33 | PULLUP;	#2 PORTA<1>
NET "Sal" LOC = "N6" | IOSTANDARD = LVCMOS33 | PULLUP;	#3 PORTA<2>
NET "Sbu" LOC = "P7" | IOSTANDARD = LVCMOS33 | PULLUP;	#4 PORTA<3>
NET "Sbm" LOC = "P12" | IOSTANDARD = LVCMOS33 | PULLUP;	#5 PORTA<4>
NET "Sbl" LOC = "N12" | IOSTANDARD = LVCMOS33 | PULLUP;	#6 PORTA<5>
NET "Scu" LOC = "L14" | IOSTANDARD = LVCMOS33 | PULLUP;	#7 PORTA<6>
NET "Scm" LOC = "L13" | IOSTANDARD = LVCMOS33 | PULLUP;	#8 PORTA<7>


#B
NET "Scl" LOC = "K14" | IOSTANDARD = LVCMOS33 | PULLUP;	#9  PORTB<0>
NET "Sfu" LOC = "K13" | IOSTANDARD = LVCMOS33 | PULLUP;	#10 PORTB<1>
NET "Sfm" LOC = "J14" | IOSTANDARD = LVCMOS33 | PULLUP;	#11 PORTB<2>
NET "Sfl" LOC = "J13" | IOSTANDARD = LVCMOS33 | PULLUP;	#12 PORTB<3>


#NET "PORTB<4>" LOC = "H14" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTB<5>" LOC = "H13" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTB<6>" LOC = "F14" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTB<7>" LOC = "F13" | IOSTANDARD = LVCMOS33 | PULLUP;
#
##C
#NET "PORTC<0>" LOC = "G14" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<1>" LOC = "G13" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<2>" LOC = "E14" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<3>" LOC = "E13" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<4>" LOC = "D14" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<5>" LOC = "D13" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<6>" LOC = "C13" | IOSTANDARD = LVCMOS33 | PULLUP;
#
##D
#NET "PORTD<0>" LOC = "A3" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<1>" LOC = "B3" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<2>" LOC = "A2" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<3>" LOC = "B1" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<4>" LOC = "C1" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<5>" LOC = "D1" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<6>" LOC = "D2" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<7>" LOC = "E1" | IOSTANDARD = LVCMOS33 | PULLUP;

#E
#NET "PORTE<0>" LOC = "E2" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTE<1>" LOC = "F1" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTE<2>" LOC = "F2" | IOSTANDARD = LVCMOS33 | PULLUP;


                                                         #Pin No
NET "Sauo" LOC = "H1" | IOSTANDARD = LVCMOS33 | PULLUP;	#37 PORTE<3>
NET "Samo" LOC = "H2" | IOSTANDARD = LVCMOS33 | PULLUP;	#38 PORTE<4>
NET "Salo" LOC = "G1" | IOSTANDARD = LVCMOS33 | PULLUP;	#39 PORTE<5>
NET "Sbuo" LOC = "G2" | IOSTANDARD = LVCMOS33 | PULLUP;	#40 PORTE<6>
NET "Sbmo" LOC = "J1" | IOSTANDARD = LVCMOS33 | PULLUP;	#41 PORTE<7>

#F
NET "Sblo" LOC = "J2" | IOSTANDARD = LVCMOS33 | PULLUP; 	#42 PORTF<0>
NET "Scuo" LOC = "K1" | IOSTANDARD = LVCMOS33 | PULLUP;	#43 PORTF<1>
NET "Scmo" LOC = "K2" | IOSTANDARD = LVCMOS33 | PULLUP;	#44 PORTF<2>
NET "Sclo" LOC = "L1" | IOSTANDARD = LVCMOS33 | PULLUP;	#45 PORTF<3>
NET "Sfuo" LOC = "L2" | IOSTANDARD = LVCMOS33 | PULLUP;	#46 PORTF<4>
NET "Sfmo" LOC = "M1" | IOSTANDARD = LVCMOS33 | PULLUP;	#47 PORTF<5>
NET "Sflo" LOC = "M2" | IOSTANDARD = LVCMOS33 | PULLUP;	#48 PORTF<6>